body {
    display: flex;
    height: 100vw;
    justify-content: center;
    align-items: center;
}

.calcBody {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: lightgray;
    height: 180px;
    width: 150px;
    align-items: center;
}

/* not working */
.display {
    background-color: white;
    height: 20px;
    width: 80%;
    text-align: end;
}

.row {
    display: flex;
    gap: 4px;
    flex-direction: column;
    /* not working */
    width: 80%;
}

.buttons {
    display: flex;
    /* not working */
    justify-content: space-between;
}

button {
    flex-grow: 1;
}