@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body,
html {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(48, 48, 48);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0ece2;
    position: relative;
    min-height: 100vh;
}

.display,
.button-row>button,
body {
    background-color: #ededed;
}

.display,
.clear-btn,
.delete-btn,
.button-row>button {
    border-radius: 5px;
    border: 2px solid black
}

.calcBody {
    display: flex;
    flex-direction: column;
    padding: 22px;
    background-color: #818181;
    height: 510px;
    width: 360px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
}

.display {
    background: white;
    height: 24%;
    width: 100%;
    margin: 0px 2px 14px;
    text-align: end;
    padding: 0;
    font-size: 200%;
}

button {
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
}

.button-head {
    display: flex;
}

.button-head>button {
    width: 100%;
    height: 65px;
}

.clear-btn {
    background-color: lightcyan;
}

.clear-btn:hover {
    background-color: rgb(194, 253, 253);
}

.delete-btn {
    background-color: rgb(236, 173, 173);
}

.delete-btn:hover {
    background-color: rgb(233, 152, 152);
}

.rows {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button-row {
    display: flex;
}

.button-row>button {
    width: 100%;
    height: 65px;
}

.button-row>button:hover {
    background-color: #d6d4d4;
}

.button-row>.operator {
    background-color: rgb(234, 255, 234);
}

footer {
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 20px;
    text-align: center;
    padding: 32px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#githubImg {
    width: 28px;
    height: auto;
}